# Terraform (전역 안전망 - 각 terraform-*/ 디렉토리에도 개별 .gitignore 권장)
*.tfstate
*.tfstate.*
*.tfplan
tfplan
destroy-plan
.terraform/
terraform.tfvars


# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# 환경변수
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# AWS Credentials
.aws/
credentials

# 로그
*.log

#trivy
trivy.exe

#k8s
k8s/base/secret.yaml
k8s/overlays/eks/patch-serviceaccount.yaml
k8s/overlays/eks/patch-deployment.yaml